/* tag selectors */
body {
  background-color: #f1fcfc;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width: 3px;
  border-color: grey;
  width: 5%
}

img {
  height: 200px;
  width: 180px;

}
 h1 {
   color: #72b5b7;
   word-spacing: 10px;
   letter-spacing: 1px;
   text-shadow: initial;
   text-shadow: #ffffdd 5px 0 10px;
   text-align: center;
 }

h3{
  color: #66BFBF;
}
/* class selectors */
.circular {
  border-radius: 100%;
}
